In [11]:
creds = appflow.credentials

In [12]:
from google.cloud import bigquery
project = 'my-project-1563213739189' # could use json dictionary from above 
client = bigquery.Client(project=project, credentials=creds)

In [13]:
query_string = """ SELECT name, SUM(number) as total 
FROM `bigquery-public-data.usa_names.usa_1910_current`
WHERE name = 'William'
GROUP BY name;
"""

query_job = client.query(query_string)
for row in query_job.result(): 
    print('{}-{}'.format(row['name'], row['total']))

William-3901134

## Getting data into a pandas df

In [14]:
%%capture 
!pip install --upgrade google-cloud-bigquery[bqstorage, pandas]

In [15]:
%load_ext google.cloud.bigquery

#### Get Bikeshare data

In [21]:
s = """ 
SELECT * FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`;
"""

In [22]:
execute = client.query(s)
df = execute.result().to_dataframe()

In [83]:
df.groupby('start_station_name')['trip_id'].count().sort_values(ascending = False)

start_station_name
21st & Speedway @PCL          72799
Riverside @ S. Lamar          40635
City Hall / Lavaca & 2nd      36520
2nd & Congress                35307
Rainey St @ Cummings          34758
                              ...
Marketing Event                   4
Mobile Station @ Unplugged        4
Eeyore's 2018                     2
Stolen                            1
Eeyore's 2017                     1
Name: trip_id, Length: 190, dtype: int64

In [84]:
df.describe()

            trip_id  start_station_id  duration_minutes
count  1.216805e+06      1.193651e+06      1.216805e+06
mean   2.881493e+09      2.896732e+03      2.903296e+01
std    4.484692e+09      5.809964e+02      1.187644e+02
min    8.269930e+06      1.001000e+03      0.000000e+00
25%    1.571695e+07      2.537000e+03      6.000000e+00
50%    1.771458e+07      2.567000e+03      1.200000e+01
75%    9.900049e+09      3.619000e+03      2.600000e+01
max    9.900353e+09      4.062000e+03      3.423800e+04

### Exploratory data analysis

In [24]:
df = df.dropna(subset = ['end_station_id'])

In [80]:
df = df.merge(df2[['station_id','latitude','longitude']].add_prefix('ending_'), left_on = 'end_station_id', right_on = 'ending_station_id')

In [82]:
df.to_csv('austin_bike_trips_intermediate.csv')

In [85]:
df.end_station_id.nunique()

95

### Compute distance matrix between all stations --> map in distance

In [160]:
import requests, json
api_key = "AIzaSyCyBqAIN-U2uoqxevg2R5-6dfkDU44Fv5I"
url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins='
# https://maps.googleapis.com/maps/api/distancematrix/json?origins='

In [255]:
url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins='
origin, dest = n['start_loc'], "&destinations=" + n['end_loc']
r = url + origin + dest + "&units=imperial" + '&transit_mode=bicycling' "&key=" + api_key

In [ ]:
%matplotlib inline
n.sort_values('distance', ascending = False).iloc[:10].boxplot(by = 'start_station_name', column='distance', rot = 90)

In [262]:
test = requests.get("""https://maps.googleapis.com/maps/api/directions/json?"""\
"origin=sydney,au&destination=perth,au"\
"&waypoints=via:-37.81223%2C144.96254%7Cvia:-34.92788%2C138.60008"\
"&key=AIzaSyCyBqAIN-U2uoqxevg2R5-6dfkDU44Fv5I")